.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inputsStyle {
  margin: 5px;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  height: 100px;
  width: 300px;
}

.p-x {
  padding: 0px 10px;
}

input {
  border-radius: 6px;
  padding: 6px;
}

body {
  background-color: #242a38;
  color: white;
}

button {
  border-radius: 6px;
  border: 0 solid #e2e8f0;
  padding: 6px;
  background-color: #fff;
  color: #0d172a;
  &:hover {
    background-color: #1e293b;
    color: #fff;
  }
}
